<a href="https://colab.research.google.com/github/VAEH/curso-python/blob/master/5_maths.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Funciones Matematicas

- Realización de operaciones dentro de un DataFrame
- Realizar operaciones dentro de las columnas de un DF
- Utilización de operaciones de otra libreria como Numpy

In [1]:
!pip install --upgrade pandas

Collecting pandas
  Downloading https://files.pythonhosted.org/packages/51/51/48f3fc47c4e2144da2806dfb6629c4dd1fa3d5a143f9652b141e979a8ca9/pandas-1.2.4-cp37-cp37m-manylinux1_x86_64.whl (9.9MB)
     |████████████████████████████████| 9.9MB 6.4MB/s
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
ERROR: google-colab 1.0.0 has requirement pandas~=1.1.0; python_version >= "3.0", but you'll have pandas 1.2.4 which is incompatible.
Installing collected packages: pandas
  Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
Successfully installed pandas-1.2.4

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Mounted at /content/drive/

In [4]:
%cd '/content/drive/My Drive/Colab Notebooks/db'
!ls

/content/drive/My Drive/Colab Notebooks/db
london_merged.csv	test.csv  test.json	test.pkl
Meteorite_Landings.csv	test.h5   test.parquet	test.xlsx

In [5]:
import pandas as pd
import numpy as np
pd.__version__

'1.2.4'

Leemos nuestro Dataframe

In [7]:
df_lmerged = pd.read_csv('london_merged.csv')
df_lmerged

                 timestamp   cnt   t1  ...  is_holiday  is_weekend  season
0      2015-01-04 00:00:00   182  3.0  ...         0.0         1.0     3.0
1      2015-01-04 01:00:00   138  3.0  ...         0.0         1.0     3.0
2      2015-01-04 02:00:00   134  2.5  ...         0.0         1.0     3.0
3      2015-01-04 03:00:00    72  2.0  ...         0.0         1.0     3.0
4      2015-01-04 04:00:00    47  2.0  ...         0.0         1.0     3.0
...                    ...   ...  ...  ...         ...         ...     ...
17409  2017-01-03 19:00:00  1042  5.0  ...         0.0         0.0     3.0
17410  2017-01-03 20:00:00   541  5.0  ...         0.0         0.0     3.0
17411  2017-01-03 21:00:00   337  5.5  ...         0.0         0.0     3.0
17412  2017-01-03 22:00:00   224  5.5  ...         0.0         0.0     3.0
17413  2017-01-03 23:00:00   139  5.0  ...         0.0         0.0     3.0

[17414 rows x 10 columns]

Lo primero que se hace es reconocer el tipo de variables que tenemos

In [8]:
df_lmerged.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

Usamo el comando:

```
pd.to_datetime(df_lmerged['timestamp'])
```
Para cambiar el formato de tipo `object` a fecha. Decimos que se debe efectuar el cambio en la columna `timestamp` en nuestro DataFrame

In [9]:
df_lmerged['timestamp'] = pd.to_datetime(df_lmerged['timestamp'])
df_lmerged['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

Se crea una nueva columna con **HORA**, aprovechando que la columna ya es de tipo tiempo. 

```
df_lmerged['timestamp'].dt.hour
```
Con esto, ya la nueva columna contiene la hora en la que estaban sucediendo estos eventos.

In [33]:
df_lmerged['hour'] = df_lmerged['timestamp'].dt.hour
df_lmerged['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

Se quita el tiempo del DataFrame y usamos `.iloc[]` para quitar la primer columna. (En realidad es como si las ocultara). Entonces se dice que se quiere todas las filas, pero desde la columna 1 hasta la última.

In [49]:
df = df_lmerged.iloc[:,1:]
df

        cnt   t1   t2    hum  ...  is_holiday  is_weekend  season  hour
0       182  3.0  2.0   93.0  ...         0.0         1.0     3.0     0
1       138  3.0  2.5   93.0  ...         0.0         1.0     3.0     1
2       134  2.5  2.5   96.5  ...         0.0         1.0     3.0     2
3        72  2.0  2.0  100.0  ...         0.0         1.0     3.0     3
4        47  2.0  0.0   93.0  ...         0.0         1.0     3.0     4
...     ...  ...  ...    ...  ...         ...         ...     ...   ...
17409  1042  5.0  1.0   81.0  ...         0.0         0.0     3.0    19
17410   541  5.0  1.0   81.0  ...         0.0         0.0     3.0    20
17411   337  5.5  1.5   78.5  ...         0.0         0.0     3.0    21
17412   224  5.5  1.5   76.0  ...         0.0         0.0     3.0    22
17413   139  5.0  1.0   76.0  ...         0.0         0.0     3.0    23

[17414 rows x 10 columns]

Al tener todo nuestro DF de tipo númerico, podemos hacer
- Potencias

Por ejemplo, si hacemos:


```
df**
```
Esto significa que todas nuestras variables se van a elevar al cuadrado. Teniendo en cuenta esto, se elige una columna o fila y todas esas variables se elevan al cuadraddo, además de poder realizar otro tipo de operaciones.

In [12]:
np.sin(df['wind_speed']**2) + 10

0         9.008221
1         9.867648
2        10.000000
3        10.000000
4         9.013013
           ...
17409    10.279387
17410    10.923470
17411     9.114047
17412    10.936473
17413    10.193503
Name: wind_speed, Length: 17414, dtype: float64

Se puede realizar operaciones entre las mismas columnas, por ejemplo podemos encontrar la diferencia de temperatura, entre la temperatura real y la sensación termica. 


```
df['t1']-df['t2']
```
Hay algo más que puede hacer, y es que con `.iloc[]` podemos coger datos que correspondan al indice par, como se hace de la siguiente forma:

In [13]:
#Tenemos en cuenta que aquí estamos seleccionando solo un tercio de los datos
df['t1'].iloc[::3]-df['t2']
# El resultado es, donde hacia falta un dato... automaticamente se va a completar con una variable NULA

0        1.0
1        NaN
2        NaN
3        0.0
4        NaN
        ...
17409    4.0
17410    NaN
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

Para completar una variable **NULA** se usa una funcionalidad de pandas de tipo aritmeticas, pero están incluidas dentro de pandas. 

Hace lo mismo que el anterior, ya que utilizamos `substract()`, para la diferencia radica en podemos tener más parametros, como: `fill_value=` que rellena los NaN con un valor que nosotros definamos.

In [14]:
df['t1'].iloc[::3].sub(df['t2'], fill_value = 1000)

0           1.0
1         997.5
2         997.5
3           0.0
4        1000.0
          ...
17409       4.0
17410     999.0
17411     998.5
17412       4.0
17413     999.0
Length: 17414, dtype: float64



```
+    add()
-    sub(), subtract()
*    mul(), multiply()
/    truediv(), div(), divide()
//   floordiv()
%    mod()
**   pow()
```

In [15]:
df['t1']/df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

Pandas cuenta con otras propiedades de Algebra Lineal como lo es el **Producto Punto**.

Lo podemos hacer con `.dot()` de una misma columna con ella misma para ver la norma de este vector, esto lo que hace es: Multiplicar cada uno de los elementos por si mismo y luego la suma de todo.

In [16]:
df['t1'].dot(df['t1'])

3247652.777777778

## Funciones más complejas y lambdas

In [17]:
def fun_1(x):
  y = x**2 + 1
  return y

In [18]:
fun_1(10)

101

In [19]:
np.arange(-5,6)

array([-5, -4, -3, -2, -1,  0,  1,  2,  3,  4,  5])

In [20]:
#vemos el tamaño de los dato
np.arange(-5,6).shape

(11,)

In [21]:
#La función recibe los parámetros y realiza el respectivo calculo 
fun_1(np.arange(-5,6))

array([26, 17, 10,  5,  2,  1,  2,  5, 10, 17, 26])

Aqui tenemos el número de horas de 0 a x números, aplicamos la función que se creo anteriormente. 
- apply() Se utiliza para aplicar una función a lo largo de un eje (columna o fila)

In [52]:
df['hour'].apply(fun_1)

0          1
1          2
2          5
3         10
4         17
        ...
17409    362
17410    401
17411    442
17412    485
17413    530
Name: hour, Length: 17414, dtype: int64

Se pueden crear argumentos más complejos

In [23]:
def fun_2(x, a=1, b=0):
  y = x**2 + a*x + b
  return y

In [24]:
fun_2(10, a = 20, b= -100)

200

Aplicando la nueva función con argumentos al DataFrame, en este caso llamamos a la función pero podemos agregar los argumentos en una Tupla de Argumentos.

In [25]:
df['hour'].apply(fun_2, args = (20, -100))

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

Lo anterior también se puede hacer de la siguiente forma:

In [26]:
df['hour'].apply(fun_2, a =20, b= -100)

0       -100
1        -79
2        -56
3        -31
4         -4
        ...
17409    641
17410    700
17411    761
17412    824
17413    889
Name: hour, Length: 17414, dtype: int64

### **FUNCIONES LAMBDAS**

Podemos usar las funciones Lambdas para no tener que hacer lo anterior y que sea de forma más optima. 
`lambda` es una manera de definir una función en una sola linea.

Cada uno de los datos que componen la serie de 'tempearatura' 'x', se le va a smar 273, cambios a grados Kelvin.

In [27]:
df['t1'].apply(lambda x: x+273)

0        276.0
1        276.0
2        275.5
3        275.0
4        275.0
         ...
17409    278.0
17410    278.0
17411    278.5
17412    278.5
17413    278.0
Name: t1, Length: 17414, dtype: float64

Se pueden hacer cosas más complejas con `.apply()`, por ejemplo aplicar toda una función al DataFrame. 

Por ejemplo, al aplicar el `.apply()` directamente en el DF, podemos calcular el promedio de todas las columnas del DF

In [28]:
df.apply(lambda x: x.mean())

cnt             1143.101642
t1                12.468091
t2                11.520836
hum               72.324954
wind_speed        15.913063
weather_code       2.722752
is_holiday         0.022051
is_weekend         0.285403
season             1.492075
hour              11.513265
dtype: float64

También se puede calcular para cada una de nuestras **filas**, pero debemos especificar el eje en el que queremos operar.

In [29]:
df.apply(lambda x: x.mean(), axis=1)

0         29.30
1         24.75
2         24.25
3         18.40
4         15.75
          ...
17409    117.30
17410     67.60
17411     47.45
17412     35.90
17413     27.10
Length: 17414, dtype: float64

Se puede calular la **Desviación Estándar**

In [30]:
df.apply(lambda x: x.std(), axis=1)

0         60.787517
1         49.012045
2         48.779692
3         36.249751
4         30.642427
            ...
17409    325.831944
17410    168.138964
17411    104.504505
17412     70.027296
17413     45.710320
Length: 17414, dtype: float64

En este caso lo hacemos cada una de las filas, calculando la diferencia entre ambas tempearaturas pero con una función Lambda.

In [31]:
df.apply(lambda x: x['t1']-x['t2'], axis=1)

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

- `.applymap()` permite operar todos los valores de forma independiente, por ejemplo: Todos los datos se quieren dividir por mil, este cambio los afecta a todos (De forma individual). Se usa para aplicar una función a todos los elementos del DataFrame
-`.map()` Se usa para sustituir cada valor de una fila por otro valor

In [32]:
df.applymap(lambda x: x/1000)

         cnt      t1      t2     hum  ...  is_holiday  is_weekend  season   hour
0      0.182  0.0030  0.0020  0.0930  ...         0.0       0.001   0.003  0.000
1      0.138  0.0030  0.0025  0.0930  ...         0.0       0.001   0.003  0.001
2      0.134  0.0025  0.0025  0.0965  ...         0.0       0.001   0.003  0.002
3      0.072  0.0020  0.0020  0.1000  ...         0.0       0.001   0.003  0.003
4      0.047  0.0020  0.0000  0.0930  ...         0.0       0.001   0.003  0.004
...      ...     ...     ...     ...  ...         ...         ...     ...    ...
17409  1.042  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.019
17410  0.541  0.0050  0.0010  0.0810  ...         0.0       0.000   0.003  0.020
17411  0.337  0.0055  0.0015  0.0785  ...         0.0       0.000   0.003  0.021
17412  0.224  0.0055  0.0015  0.0760  ...         0.0       0.000   0.003  0.022
17413  0.139  0.0050  0.0010  0.0760  ...         0.0       0.000   0.003  0.023

[17414 rows x 10 columns]

Fuente: https://stackoverflow.com/questions/19798153/difference-between-map-applymap-and-apply-methods-in-pandas/27368948#27368948

Primera gran diferencia: DEFINICIÓN

   - map se define en Serie SOLAMENTE
   - applymap está definido en DataFrames SOLAMENTE
   - apply se define en AMBOS

Segunda gran diferencia: ARGUMENTO DE ENTRADA

  - map acepta dicts Series, o invocable
  - applymap y apply acepta solo llamadas

Tercera gran diferencia: COMPORTAMIENTO

   - map es elementwise para Series
   - applymap es elementwise para DataFrames
   - apply también funciona con elementos, pero es adecuado para operaciones y agregaciones más complejas. El comportamiento y el valor de retorno dependen de la función.

Cuarta diferencia principal (la más importante): CASO DE USO

  -  map está diseñado para mapear valores de un dominio a otro, por lo que está optimizado para el rendimiento (p. ej., df[‘A’].map({1:‘a’, 2:‘b’, 3:‘c’}))
  - applymap es bueno para transformaciones de elementos en varias filas / columnas (p. ej., df[[‘A’, ‘B’, ‘C’]].applymap(str.strip))
  - apply es para aplicar cualquier función que no se pueda vectorizar (p. ej., df[‘sentences’].apply(nltk.sent_tokenize))