<a href="https://colab.research.google.com/github/VAEH/curso-python/blob/master/4_Manejo_de_archivos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Indexado y manejo de archivos CSV

In [1]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
#Actualizar openpyx
!pip install --upgrade  openpyxl
!pip install --upgrade  pandas
!pip install --upgrade  tables

Requirement already up-to-date: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.7)
Requirement already satisfied, skipping upgrade: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.0.1)
Requirement already up-to-date: pandas in /usr/local/lib/python3.7/dist-packages (1.2.4)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied, skipping upgrade: numpy>=1.16.5 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied, skipping upgrade: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already up-to-date: tables in /usr/local/lib/python3.7/dist-packages (3.6.1)
Requirement already satisfied, skipping upgrade: numexpr>=2.6.2 in /usr/local/lib/python3.7/dist-packages (from tables) (2.7.3)
Requirement already satisfied, skipping upgrade: numpy>=1.9.3 in /usr/local/lib/python3.7/dist-packages (from tables) (1.19.5)

Cambiamos el directorio y nos posicionamos dentro del colab.

Cuando usa el operador % hace referencia a una magic command

In [3]:
%cd '/content/drive/MyDrive/Colab Notebooks'

/content/drive/MyDrive/Colab Notebooks

Creamos una carpeta dentro del Notebook, donde haya espacio se coloca ezlas inverso ''"

In [4]:
!mkdir db

mkdir: cannot create directory ‘db’: File exists

Utilizamos el .format() para cuando tenemos que crear un archivo nuevo solo sea cambairlo en esa expresión

In [5]:
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.xls')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.xls'

In [6]:
import pandas as pd 
pd.__version__

import numpy as np

In [7]:
dict_data = {
    'edad' :     [ 10, 9, 13, 14, 12, 11, 12],
    'cm' : [ 115, 110, 130, 155, 125, 120, 125],
    'pais' :    [ 'co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch'],
    'genero' :  [ 'M', 'F', 'F', 'M', 'M', 'M', 'F'],
    'Q1' : [ 5, 10, 8, np.nan, 7, 8, 3],
    'Q2' : [ 7, 9, 9, 8, 8, 8, 9.]
}
dict_data

{'Q1': [5, 10, 8, nan, 7, 8, 3],
 'Q2': [7, 9, 9, 8, 8, 8, 9.0],
 'cm': [115, 110, 130, 155, 125, 120, 125],
 'edad': [10, 9, 13, 14, 12, 11, 12],
 'genero': ['M', 'F', 'F', 'M', 'M', 'M', 'F'],
 'pais': ['co', 'mx', 'co', 'mx', 'mx', 'ch', 'ch']}

Creamos el DataFrame

In [8]:
df = pd.DataFrame(dict_data)
df

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

#### Trabajar con archivos CSV

**Exportar DataFrame como csv:**

Esto se hace usando el método `to_csv()` que recibe por parámetro el path donde se va a guardar el archivo csv.

Por defecto el csv tendrá una columna con los índices de cada fila, si no se quiere dicha columna se puede usar el parámetro `index = False`

Los archivos csv como su nombre lo índica están separados por comas, no obstante esto se puede cambiar agregando el parámetro `sep=''`. El carácter que se ponga en el interior de este parámetro será usado para separar los valores en el archivo csv. Al hacer esto es importante agregar este mismo parámetro al leer el archivo para que Pandas pueda mostrar el archivo correctamente.

Para guardarlo se hace de la siguiente forma, creamos un archivo .csv

In [9]:

dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'.format('test.csv')
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/test.csv'

In [10]:
#Forma de enviar nuestro df a CSV
df.to_csv(dir_pandas, index = False)

In [11]:
!ls /content/drive/My\ Drive/Colab\ Notebooks/db

test.csv  test.json  test.parquet  test.pkl  test.xlsx

Para leer ese archivo, debemos coger la dirección donde se encuentra el archivo

In [12]:
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv')
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

Podemos guardar la información en otro formato y esto lo hacemos especificando una nueva variable para guardar los datos y lo hacemos especificando una nueva variable "sep = " ""

---

In [13]:
df.to_csv(dir_pandas, sep = '|', index = False)
#Como no es capaz de leer el nuevo separador, entonces lo agregamos cuando vamos a imprimir 
df_read = pd.read_csv('/content/drive/My Drive/Colab Notebooks/db/test.csv', sep = "|")
df_read

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

In [14]:
#Ruta para crear el nuevo archivo de Excel o algun otro tipo
dir_pandas = '/content/drive/My Drive/Colab Notebooks/db/{}'
dir_pandas

'/content/drive/My Drive/Colab Notebooks/db/{}'

#### Trabajar con archivos XLSX

**Exportar a un archivo de Excel:**

`sheet_name='Hoja_1'` Establece el nombre que va a tener el nombre de la hoja.

In [15]:
df.to_excel(dir_pandas.format('test.xlsx'), index=False, sheet_name='Hoja_uno')

In [16]:
#Forma de leer los datos de un xlsx
#Igualmente se debe tener en cuenta la actualización del openpyx
pd.read_excel(dir_pandas.format('test.xlsx'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar con archivos JSON

JSON es un formato muy común al trabajar con APIs

**Exportar DataFrame a JSON:**

In [17]:
df.to_json(dir_pandas.format('test.json'))

** Leer un archivo de JSON:**

In [18]:
pd.read_json(dir_pandas.format('test.json'))

   edad   cm pais genero    Q1  Q2
0    10  115   co      M   5.0   7
1     9  110   mx      F  10.0   9
2    13  130   co      F   8.0   9
3    14  155   mx      M   NaN   8
4    12  125   mx      M   7.0   8
5    11  120   ch      M   8.0   8
6    12  125   ch      F   3.0   9

#### Trabajar usando el formato Pickle

Este formato permite guardar los datos en un archivo comprimido. Es útil a la hora de trabajar con bases de datos de tamaño mediano o grande.

**Exportar DataFrame a formato Pickle:**

In [19]:
df.to_pickle(dir_pandas.format('test.pkl'))

**Leer un archivo pkl:**

In [20]:
pd.read_pickle(dir_pandas.format('test.pkl'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

#### Trabajar con el formato Parquet

Es un formato muy usado en el campo del Big Data.

**Exportar DataFrame a formato Parquet:**

In [21]:
df.to_parquet(dir_pandas.format('test.parquet'))

In [22]:
pd.read_parquet(dir_pandas.format('test.parquet'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

#### Trabajar con archivos HDF

Es un formato muy usado con Hadoop en ambientes de Big Data

**Exportar DataFrame a HDF:**

In [23]:
#Para que funcionara se tuvo que cambiar la extensión a ".h5" y actuliazar la libreria pytable
df.to_hdf(dir_pandas.format('test.h5'), key='data', format='table')

In [25]:
pd.read_hdf(dir_pandas.format('test.h5'))

   edad   cm pais genero    Q1   Q2
0    10  115   co      M   5.0  7.0
1     9  110   mx      F  10.0  9.0
2    13  130   co      F   8.0  9.0
3    14  155   mx      M   NaN  8.0
4    12  125   mx      M   7.0  8.0
5    11  120   ch      M   8.0  8.0
6    12  125   ch      F   3.0  9.0

Documentación de pandas: https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html